# Ignore Gradle files
.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties

# Ignore Firebase config files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Flutter-specific files
GeneratedPluginRegistrant.java

# Ignore keystore files (never share your keystore)
key.properties
**/*.keystore
**/*.jks

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/references/keystore
